@font-face {
    font-family: "ConneqtRegular";
    src: url("../fonts/ConneqtRegular.ttf") format("truetype");
}

@font-face {
    font-family: "LinoLetterMediumItalic";
    src: local("../fonts/LinoLetterMediumItalic.otf") format('otf');
}

@font-face {
    font-family: "QwitcherBychenRegular";
    src: url("../fonts/QwitcherBychenRegular.ttf") format("truetype");

}

html,
body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "ConneqtRegular";
}

/* Global styles */
/* ul li tags */
ul>li {
    list-style-type: none;
}

/* anchor tag */
.navbar-links {
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-size: 1vw;
    transition: color 1s ease;
}

.navbar-links:hover {
    color: #fdd032;
}

/* Header */
header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../images/header-bg.jpg");
    background-position: center;
    background-size: cover;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    font-family: "QwitcherBychenRegular";
    font-size: 4vw;
    color: #fdd032;
    user-select: none;
}

.logo a {
    text-decoration: none;
}

#logo-mobile {
    font-family: "QwitcherBychenRegular";
    font-size: 3rem;
    color: #fdd032;
    user-select: none;
}

.navbar-toggler {
    background-color: #fdd032;
    font-size: .8rem;
}

#welcome h4 {
    font-family: "LinoLetterMediumItalic";
    font-style: italic;
    font-size: 2rem;
}

#message-text h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

#tellMeMore button {
    color: white;
    background-color: #fdd032;
    padding: 1.6rem 2rem;
    border-radius: .5rem;
    outline: none;
}

/* SERVICES */
#services {
    min-height: 100vh;
    width: 100%;
}

.sectionTitle {
    margin: 3rem 0;
}

.sectionTitle p {
    font-family: "LinoLetterMediumItalic" !important;
    font-size: 1.1rem;
    font-style: italic;
}

/* ICONS */
.fas {
    color: white;
    font-size: 4rem;
    background-color: #fdd032;
    border-radius: 50%;
    padding: 3rem;
}

.fa-lock {
    font-size: 4rem;
    padding: 3rem 3.5rem !important;
}

.service-details p {
    font-size: 1.1rem;
    font-family: "LinoLetterMediumItalic" !important;
}

/* PORTFOLIO */
#portfolio {
    min-height: 100vh;
    width: 100%;
    background-color: #F7F9FB;
}

.icon img {
    width: 100%;
}

.portfolio-details p {
    font-size: 1.1rem;
    font-family: "LinoLetterMediumItalic" !important;
}